<!doctype html>
<html lang='en-us'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<title>Redirecting...</title>

		<link rel='canonical' href='{{ url | safe }}'>
		<meta http-equiv="refresh" content="0; url={{ url | safe }}">
		<link rel="stylesheet" href="/main.css" />
		<link rel="stylesheet" href="/skins/vibrance.css" />

		<script>
			window.location.href = '{{ url | safe }}'
		</script>
	</head>
	<body>
		<p>Redirecting to <a href="{{ url | safe }}">{{ url | safe }}</a>.</p>
	</body>
</html>
