:root
  --primary-color: #d12e36

[data-theme='dark']
  --primary-color: #6cacff

main img
  background: var(--bg-0)
  font-size: 0

.turbo-progress-bar
  position: fixed
  display: block
  top: 0
  left: 0
  height: 3px
  background: var(--primary-color)
  z-index: 2147483647
  transition: width 600ms ease-out, opacity 300ms 300ms ease-in
  transform: translate3d(0, 0, 0)

.credits
  color: var(--overlay0)
