.prose {
  h1 {
    @apply text-center pb-12 leading-[3.75rem];
  }

  /* Breakout images and code blocks wrapped in <figure> */
  p:has(.photoswipe),
  figure:has(> pre),
  h1 {
    margin: 0 calc(50% - 45vw);
  }

  @media screen and (min-width: 1280px) {
    p:has(.photoswipe),
    figure:has(> pre),
    h1 {
      margin: 0 calc(50% - 520px)
    }
  }

  /* Center-align figcaption-like markdown */
  p:has(> img + em) {
    @apply text-center;
  }

  .photoswipe + em {
    @apply block text-sm mt-4 text-center;
  }

  /* Underline links without covering the letters */
  a {
    text-underline-position: under;
  }

  /* Add anchor links to the left of headings */
  h2 a, h3 a {
    @apply transition-opacity inline-flex absolute justify-center items-center opacity-0 -ml-10 w-9 h-12 select-none;
  }

  .icon-link {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14.78 3.653a3.936 3.936 0 1 1 5.567 5.567l-3.627 3.627a3.936 3.936 0 0 1-5.88-.353.75.75 0 0 0-1.18.928 5.436 5.436 0 0 0 8.12.486l3.628-3.628a5.436 5.436 0 1 0-7.688-7.688l-3 3a.75.75 0 0 0 1.06 1.061l3-3Z'%3E%3C/path%3E%3Cpath d='M7.28 11.153a3.936 3.936 0 0 1 5.88.353.75.75 0 0 0 1.18-.928 5.436 5.436 0 0 0-8.12-.486L2.592 13.72a5.436 5.436 0 1 0 7.688 7.688l3-3a.75.75 0 1 0-1.06-1.06l-3 3a3.936 3.936 0 0 1-5.567-5.568l3.627-3.627Z'%3E%3C/path%3E%3C/svg%3E");
    @apply size-5 cursor-pointer self-center bg-700;
  }

  h2:hover a, h3:hover a, h2 a:focus, h3 a:focus {
    @apply opacity-100;
  }

  /* Make image hover cooler */
  img {
    font-size: 0;
    box-shadow: 0 0 0.5rem rgb(var(--color-200));
    transition: 0.2s filter ease-out, 0.2s box-shadow ease-out;

    &:hover {
      box-shadow: 0 0 1rem rgb(var(--color-200));
      filter: brightness(107.5%);
    }
  }

  .date {
    @apply text-center text-3xl -mt-4 pb-8 font-light;
  }
}

.toc {
  @apply hidden;
}

.prose:has(.date) .toc {
  @apply hidden 2xl:block absolute left-0 w-64 pr-2 top-48 overflow-y-scroll max-h-[50vh];

  > .toc-level {
    @apply list-none p-0 m-0;

    .toc-level {
      @apply list-disc;
    }
  }
}
