@import "~modern-normalize"

:root
  --base00: #272822
  --base01: #383830
  --base02: #49483e
  --base03: #75715e
  --base04: #a59f85
  --base05: #f8f8f2
  --base06: #f5f4f1
  --base07: #f9f8f5
  --base08: #f92672
  --base09: #fd971f
  --base0A: #f4bf75
  --base0B: #a6e22e
  --base0C: #a1efe4
  --base0D: #66d9ef
  --base0E: #ae81ff
  --base0F: #cc6633

html
  background: var(--base00)
  color: var(--base05)

::selection
  background: var(--base03)

a
  color: var(--base09)

main
  margin: 0 auto
  max-width: 864px
  font-size: 1.2rem
  line-height: 2.4rem
  padding: 2rem

.top
  height: 0.1rem
  background: linear-gradient(to right, var(--base08), var(--base09), var(--base0A), var(--base0B), var(--base0C), var(--base0D), var(--base0E), var(--base0F))

header
  padding-top: 2rem
  text-align: center
  a
    text-decoration: none
    color: var(--base05)
  img
    border-radius: 50%
    border: 0.1rem solid var(--base02)
    filter: saturate(125%) drop-shadow(0.1rem 0.1rem 0.25rem var(--base01))
  h1
    margin-top: 0.5rem

nav
  a
    font-size: 1.4rem
    padding: 0.5rem
    width: 9rem
    display: inline-block
    &:hover
      text-decoration: underline
    &:focus
      color: var(--base0A)
