@import 'tailwind.css';
@import 'fonts.css';

::selection {
  background: theme('colors.red.700')33;
}

pre ::selection {
  background: rgba(255, 255, 255, 0.25);
}

html {
  overflow-y: scroll;
  scrollbar-color: theme('colors.red.700') #222;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 7px;
}

html::-webkit-scrollbar-track {
  background: #222;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb {
  background: theme('colors.red.700');
  border-radius: 20px;
}

main {
  animation-fill-mode: forwards;
  animation-name: fade-in-up;
  animation-duration: 0.5s;
  will-change: transform, opacity;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

p:has(> img),
figure:has(> pre) {
  margin: 0 calc(50% - 45vw);
}

@media screen and (min-width: 1280px) {
  p:has(> img),
  figure:has(> pre) {
    margin: 0 calc(50% - 520px)
  }
}

p:has(> img + em) {
  text-align: center;
}

img + em {
  display: block;
  margin-top: -1.5rem;
  font-style: normal;
  font-size: 90%;
}
